* {
  user-select: none;
}
body {
  background-image: url("../images/Map.png");
  background-size: cover;
  background-position: center;

  color: aliceblue;
}
#game-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#game-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 5vw;
  position: relative;
}

#game-end {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
}

#username-input {
  margin-bottom: 20px;
}

#game-info {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 40vw;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  color: white;
}

#player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10%;
  bottom: 20%;
}

#player-img {
  width: 150px;
  height: auto;
}

#monster-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20%;
  bottom: 20%;
}

#monster-info {
  display: flex;
  height: auto;
  position: relative;
}

#monster-hp-bar {
  width: 200px;
  height: 20px;
  background-color: #333;
  border: 2px solid #111;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
}

#monster-hp-fill {
  width: 100%;
  height: 100%;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

#player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

#player-mana-bar {
  width: 200px;
  height: 20px;
  background-color: #333;
  border: 2px solid #111;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
}

#player-mana-fill {
  width: 100%;
  height: 100%;
  background-color: #00bfff;
  transition: width 0.3s ease-in-out;
}

#bossTimer {
  width: 200px;
  height: 20px;
  background-color: #333;
  border: 2px solid #111;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  color: white;
  text-align: center;
}

#bossTimerFill {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: green;
  transition: width 0.3s linear;
  position: absolute;
  left: 0;
  top: 0;
}
#bossTimerText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  z-index: 1;
}
